body {
    background: rgb(255, 255, 255) url("./bilder/bg.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.kontainer {
    background: #FFF;
    width: 800px;
    margin: 50px auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px;
}
header {
    margin-bottom: 40px;
}
h1 {
    font-family: 'Fredoka One', cursive;
}
nav {
    margin: 10px 0;
}
main p {
    background: #3b3838;
    color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
}
main form {
    margin: 20px;
}
main button {
    margin: 10px 0;
}

